.*
*.pyc
*~

mails/
media/
collected_static/
cover/
mab_django/settings/custom.py
buildbot/

*.log

!.gitignore
!.gitattributes
!.jshintrc
!.travis.yml
!.editorconfig
!.bowerrc

*.sublime-project
*.sublime-workspace
*.db


mab_angular/node_modules/
mab_angular/dist/
mab_angular/bower_components/

